<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYLIST API</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="content">
                <h1 class="title">API PLAYLIST</h1>
                <p class="subtitle">Documentation <a href="https://thigasfella/api-playlist" target="_blank" rel="noopener noreferrer">here</a></p>
                <p class="subtitle">&copy; Created by <a href="https://github.com/thigasfella" target="_blank" rel="noopener noreferrer">thigasfella</a></p>
            </div>  
        </div>
    </main>
</body>
</html>